body {
    background-color: rgb(39, 25, 9);
    color: rgb(252, 229, 186);
    font-family: 'Press Start 2P', cursive;
}

.header {
    padding: 50px 250px;
    font-size: 25px;
    border: 25px;
    border-style: dashed;
    border-color: aliceblue;
    text-align: center;
}

.game-intro {
    text-align: center;
    font-size: 25px;
    margin: 15px;
}

.player-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    gap: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.button {
    width: 300px;
    height: 100px;
    font-size: 30px;
    font-family: 'Geostar', cursive;
    text-align: center;
    font-weight: bolder;
    background-color: burlywood;
    color: rgb(0, 0, 0);
    border: 7px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    flex: 1 1 0;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
    font-weight: bolder;
}

.end-game {
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
}