body {
    background-color: rgb(30, 35, 43);
    color: rgb(212, 176, 59);
    font-family: 'Press Start 2P', cursive;
}

.header {
    padding: 50px 250px;
    font-size: 22px;
    border: 25px;
    border-style: dashed;
    border-color: rgb(183, 136, 42);
    text-align: center;
}

.game-intro {
    text-align: center;
    font-size: 20px;
    margin: 15px;
}

.player-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    gap: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.button {
    width: 300px;
    height: 100px;
    font-size: 30px;
    font-family: 'Geostar', cursive;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(203, 162, 56);
    color: rgb(30, 35, 43);
    border: 7px;
    border-style: solid;
    border-color: rgb(12, 14, 16);
    border-radius: 10px;
    flex: 1 1 0;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(30, 35, 43);
    color: rgb(203, 162, 56);
    width: 310px;
    height: 108px;
    border-color: rgb(183, 136, 42);
}

.scores {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 27px;
    font-weight: bolder;
}

.end-game {
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
}